
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Monseratt", sans-serif;
}

html{
  background-color: #F9C5B4;
}
section h2 h1{
  font-family: "Monseratt", sans-serif;
  text-align: center;
  height: 200px;
  color: grey;
  font-size: 20px;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

.dropdown {
  float: left;
  text-align: center;
}
a {
  text-align: center;
}

.dropbtn {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

li a:hover{
  color: black;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: grey;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #eeeeee;}

.dropdown:hover .dropdown-content 
{
  display: block;
}

/*Contact.html*/
.contact-section{
  background-size:cover;
  background: #222629;
  padding: 40px 0;
}

.contact-section h1{
  text-align: center;
  color: #E0E0E0;
}

.border{
  width:100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:hover{
  box-shadow:  0 0 10px 4px #34495e;
}

textarea.contact-form-text{
  resize: none;
  height:120px;
}

.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover{
  background: #2980b9;
}

.container
{
  width: 80%;
  height: 700px;
  margin-left: 10%;
  margin-right: 10%;
  
}
#imageleft
{
  float: left;
  width: 50%; 
  margin-top: 25%;
}
.me
{
  height: 550px;
  width: 550px;
}

#describeright
{
  float: right;
  width: 50%;
  margin-top: 25%;
}
#describeright h1
{
  text-align:center;
  font-size: 50px;
 
}
#describeright p {
  font-size: 23px;
  text-align: justify;
}
.mybutton 
{
  padding: 1em;
  background-color: #ED5829;
  margin-left: 35%;
  color: white;
  font-size: 16px;


}
#imageright
{
  float: right;
  width: 50%;
  margin-top: 25%;
}
.shell
{
  height: 350px;
  width: 350px;
  
}
describeleft
{
  float: left;
  width: 50%;
  margin-top: 25%;
}
#describeleft h1
{
  text-align:center;
  
  font-size: 50px;
 
}
#describeleft p
 {
  font-size: 23px;
  text-align: justify;
}



